<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include meta.html %}

    {% include styles.html %}

    <link rel="canonical" href="http://www.jcock.rocks/" />
    <!-- build:js({app,.tmp}) /js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body class="{{ page.class }}">

    <main role="main" class="l-main">
      {{ content }}
    </main>

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
