<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
			<customHeaders>
				<add name="ETag" value=" " />
				<remove name="X-Powered-By" />
				<remove name="X-UA-Compatible" />
			</customHeaders>
		</httpProtocol>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/404/" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" path="/500/" responseMode="ExecuteURL" />
		</httpErrors>
		<caching enabled="true" enableKernelCache="true">
			<!-- Cache images, css and script -->
			<profiles>
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" varyByQueryString="*" />
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" varyByQueryString="*" />
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" varyByQueryString="*" />
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" varyByQueryString="*" />
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" varyByQueryString="*" />
			</profiles>
		</caching>
		<staticContent>
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<!-- Reset the mimeType for JavaScript files so they are treated as static resources -->
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"></clientCache>
		</staticContent>
    </system.webServer>
</configuration>
