<header role="banner" class="l-header fixed">
	<div class="tab-bar">
	  <section class="right-small">
	    <!-- <a role="button" class="toggle-icon" data-dropdown="navMain" aria-controls="navMain" aria-expanded="false" href="#" aria-label="Toggle Main Navigation"><span></span></a> -->
	    <button class="toggle-icon" data-dropdown="navMain" aria-controls="navMain" aria-expanded="false" type="button" aria-label="Toggle Main Navigation"><span></span></button>
	  </section>
	</div>
    {% include nav-main.html %}
</header>