<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }} &bull; {% endif %}{{ site.name }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta http-equiv="cleartype" content="on">

<meta property="og:title" content="{{ site.name }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:image" content="{{ site.url }}/apple-touch-icon-152x152.png" />
<meta property="og:url" content="{{ site.url }}" />

{% if site.author.google_verify %}<meta name="google-site-verification" content="{{ site.author.google_verify }}" />{% endif %}
{% if site.author.bing_verify %}<meta name="msvalidate.01" content="{{ site.author.bing_verify }}" />{% endif %}
{% if site.author.google_plus %}<link rel="author" href="https://google.com/{{ site.author.google_plus }}?rel=author" />{% endif %}

<!-- Twitter Cards -->
<meta name="twitter:title" content="{{ site.name }}">
<meta name="twitter:description" content="{{ site.description }}">
{% if site.author.twitter %}<meta name="twitter:site" content="@{{ site.author.twitter }}">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ site.url }}/apple-touch-icon-152x152.png">

{% include typekit.html %}

<link rel="shortcut icon" href="/favicon.ico" />

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">

<!-- Favicons -->
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/ico" href="/favicon.ico" sizes="16x16">

<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-title" content="Butter Cups">
<meta name="application-name" content="Butter Cups">
<meta name="msapplication-TileColor" content="#0abab4">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#0abab4">