<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }} &bull; {% endif %}{{ site.name }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta http-equiv="cleartype" content="on">

<meta property="og:title" content="{{ site.name }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.author.name }}" />
<meta property="og:image" content="{{ site.url }}/favicon-196x196.png" />
<meta property="og:url" content="{{ site.url }}" />

{% if site.author.google_verify %}<meta name="google-site-verification" content="{{ site.author.google_verify }}" />{% endif %}
{% if site.author.bing_verify %}<meta name="msvalidate.01" content="{{ site.author.bing_verify }}" />{% endif %}
{% if site.author.google_plus %}<link rel="author" href="https://google.com/{{ site.author.google_plus }}?rel=author" />{% endif %}

<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &bull; {{ site.name }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if site.author.twitter %}<meta name="twitter:site" content="@{{ site.author.twitter }}">{% endif %}
{% if page.projimage %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.projimage }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ site.url }}/favicon-196x196.png">
{% endif %}

{% include typekit.html %}

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
<link rel="shortcut icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="shortcut icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="shortcut icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Jason Cockerham">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-config" content="/browserconfig.xml">