<nav role="navigation" class="nav nav--social icon-bar five-up">
	<a href="mailto:{{ site.author.phone }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Phone"><i class="fa fa-mobile"></i></a>
	<a href="mailto:{{ site.author.email }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Email"><i class="fa fa-envelope-o"></i></a>
	<a href="https://facebook.com/{{ site.author.facebook }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/{{ site.author.twitter }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
	<a href="https://instagram.com/{{ site.author.instagram }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
</nav>