<nav role="navigation" class="nav nav--main f-dropdown" id="navMain" data-dropdown-content aria-hidden="true" tabindex="-1">
	<ul class="side-nav">
		<li><a href="#flavors" class="btn btn--link btn--link_flavors fracs scrollTo" role="menuitem" tabindex="0" aria-label="Flavors">Flavors</a></li>
		<li><a href="#order" class="btn btn--link btn--link_order fracs scrollTo" role="menuitem" tabindex="0" aria-label="Order">Order</a></li>
	</ul>

	{% include nav-social.html %}

	<p class="copyright text-center color-white">Copyright &copy; Butter Cups</p>
</nav>
