<nav role="navigation" class="nav nav--social icon-bar three-up">
	<a href="tel:{{ site.author.phone }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Phone"><i class="fa fa-mobile"></i></a>
	<a href="mailto:{{ site.author.email }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Email"><i class="fa fa-envelope-o"></i></a>
	<a href="https://facebook.com/{{ site.author.facebook }}" class="btn btn--icon item" role="button" tabindex="0" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
</nav>