<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/instafeed.js/1.2.0/instafeed.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>

<!-- build:js({app,.tmp}) /js/app.js -->
<script src="/_bower_components/fastclick/lib/fastclick.js"></script>
<script src="/_bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="/_bower_components/jquery-fracs/dist/jquery.fracs.js"></script>
<script src="/_bower_components/pace/pace.js"></script>
<script src="/_bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="/_bower_components/svg-injector/svg-injector.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.abide.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.accordion.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.clearing.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.interchange.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.joyride.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.magellan.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.reveal.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.slider.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.tab.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script src="/_bower_components/picturefill/dist/picturefill.min.js"></script>
<script src="/js/app.js"></script>
<!-- endbuild -->
