
// Base
// - - - - - - - - - - - - - - - - - - - - - - - - -
::-moz-selection {
    color: $white;
    background: #A6BE4B;
}

::selection {
    color: $white;
    background: #A6BE4B;
}

.color-white {
	color: #fff;
}

.color-primary {
	color: $primary-color;
}

.color-secondary {
	color: $secondary-color;
}

.bg-white {
	background-color: #fff;
}

.bg-primary {
	background-color: $primary-color;
}

.bg-secondary {
	background-color: $secondary-color;
}

.font-normal {
	font-weight: 400;
}

.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);border:0
}



// Modules
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Loading Bar
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  & .pace-progress {
	  background: rgba(darken($primary-color, 10%), 0.75);
	  position: fixed;
	  z-index: 2000;
	  top: 0;
	  right: 100%;
	  width: 100%;
	  height: 0.5rem;
	}
}

.pace-inactive {
  display: none;
}

.l-header {
}

.l-main {
}